# Project exclude paths
/.gradle/
.idea
.class
generated
application-oauth.properties
application-jwt.properties
application-local.properties
application-dev.properties
application-prod.properties
/logs
/null